@charset "utf-8";

.move1{
    -moz-animation-name: skillline1;
    -webkit-animation-name: skillline1;
    -ms-animation-name: skillline1;
    -o-animation-name: skillline1;
    animation-name: skillline1;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
}
@-moz-keyframes skillline1{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}
@-webkit-keyframes skillline1{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}
@-ms-keyframes skillline1{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}
@-o-keyframes skillline1{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}
@keyframes skillline1{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}

.move2{
    -moz-animation-name: skillline2;
    -webkit-animation-name: skillline2;
    -ms-animation-name: skillline2;
    -o-animation-name: skillline2;
    animation-name: skillline2;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
}
@-moz-keyframes skillline2{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}
@-webkit-keyframes skillline2{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}
@-ms-keyframes skillline2{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}
@-o-keyframes skillline2{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}
@keyframes skillline2{from{width: 0;opacity: 0;}to{width: 98%;opacity: 1;}}

.move3{
    -moz-animation-name: skillline3;
    -webkit-animation-name: skillline3;
    -ms-animation-name: skillline3;
    -o-animation-name: skillline3;
    animation-name: skillline3;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
}
@-moz-keyframes skillline3{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
@-webkit-keyframes skillline3{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
@-ms-keyframes skillline3{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
@-o-keyframes skillline3{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
@keyframes skillline3{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}

.move4{
    -moz-animation-name: skillline4;
    -webkit-animation-name: skillline4;
    -ms-animation-name: skillline4;
    -o-animation-name: skillline4;
    animation-name: skillline4;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
}
@-moz-keyframes skillline4{from{width: 0;opacity: 0;}to{width: 70%;opacity: 1;}}
@-webkit-keyframes skillline4{from{width: 0;opacity: 0;}to{width: 70%;opacity: 1;}}
@-ms-keyframes skillline4{from{width: 0;opacity: 0;}to{width: 70%;opacity: 1;}}
@-o-keyframes skillline4{from{width: 0;opacity: 0;}to{width: 70%;opacity: 1;}}
@keyframes skillline4{from{width: 0;opacity: 0;}to{width: 70%;opacity: 1;}}

.move5{
    -moz-animation-name: skillline5;
    -webkit-animation-name: skillline5;
    -ms-animation-name: skillline5;
    -o-animation-name: skillline5;
    animation-name: skillline5;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
}
@-moz-keyframes skillline5{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
@-webkit-keyframes skillline5{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
@-ms-keyframes skillline5{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
@-o-keyframes skillline5{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
@keyframes skillline5{from{width: 0;opacity: 0;}to{width: 80%;opacity: 1;}}
