@charset 'UTF-8';

/*초기화*/
body, div, section, li, ul, h2, p, h3, h4, dl, dd, dt {margin:0; padding:0;}
body,html {overflow-x:hidden; width:100vw; -ms-overflow-style: none; font-family:"AppleSDGothicNeoB00";letter-spacing:0.5px}
section {overflow:hidden;}
body::-webkit-scrollbar {display: none;}
button {background-color: transparent; font-family:"AppleSDGothicNeoB00"; outline:none;}
section {font-size:100%; color:#fff; transition: .3s;}
ul,li {list-style:none;}
a {text-decoration:none; color:#fff;}
em {font-style:normal;}
.hide {display: none;}
/*배경*/
body {background:url(../images/main_bg.jpg)0 0 repeat;}

/*_______________고정_______________*/
/*sub*/

#home > .sub_tit {
	position: fixed;
	right:20px;
	top:20px;
	color:#fff;
	transition:.3s;
	z-index:1;
}
#home > .sub_tit > h4 {
	transition:.3s;
}
#home > .sub_text > p {
	transform:rotate(-90deg);
	position:fixed;
	top: 90%;
	left: -10px;
	font-size:0.8em;
	color:#fff;
	z-index:1;
}

/*line*/
.line {
	width:4px;
	height:100vh;
	background:#fff;
	position:fixed;
	top:0;
	transition:.3s;
	opacity:0;
}
.line:nth-child(1) {
	left:9.375%;
	transition:.3s;
}
 .line:nth-child(2) {
	left:65.88541666666667%;
}
.line:nth-child(3) {
	left:78.64583333333333%;
}

/*scroll_btn*/
.scroll_btn {
	position:fixed;
	top:700px;
	left:69.7%;
	opacity:0;
	transition:.3s;
	z-index:2;
}
.scroll_btn > img:nth-child(1) {
	position: absolute;
    left: 45px;
    animation-name: slide;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate
}

@keyframes slide{
    from{
        top:0;
		opacity: 0;
    }
    to{
        top:-20px;
		opacity: 1;
    }
}
.scroll_btn > img:nth-child(2) {
	position: absolute;
    top: 85px;
}
.about_text {
	width:19.0625%;
}
/*_______________탑배너_______________*/
#topBanner {
	width: 33.33%;
	position: fixed;
	display: block;
	z-index: 1;
	left: 33.33%;
}
.popContent {
	margin: 0 auto;
	width: 100%;
	height: 22px;
	background-color: tomato;
	padding: 5px;
	text-align: center;
}
.popContent > p {
	display: inline-block;
	font-size: 1em;
	color: #fff;
}
.popContent > div {
	float: right;
}
/*_______________home_______________*/
#home  {
	height:100vh;
}
/*---------------title--------------*/
#home > .title {

	width:100%;
	height:100vh;
	position:relative;
	max-width:1280px;
	margin:0 auto;
	padding:10px;
}
#home > .title > h2 {
	font-size:6em;
	font-weight:100;
	font-family:"h2mjre","HY견명조";
	position:absolute;
	top:60%;
}
#home > .title > h2 > strong {
	color:#698E69;
}
.typing-txt{display: none;}
  
.typing {  
/*       position: absolute;*/ 
     display: inline-block; 
      animation-name: cursor; 
      animation-duration: 0.3s; 
      animation-iteration-count: infinite; 
    } 
    @keyframes cursor{ 
      0%{border-right: 1px solid #e0d7d6} 
      50%{border-right: 1px solid #000} 
      100%{border-right: 1px solid #e0d7d6} 
    }
#home > .title > .tit_img {
	width:80%;
	position:absolute;
    top:50%; left:50%;
    transform: translate(-40%, -50%);
}
#home > .title > .tit_img > img {
	width:100%;
}
#home > .title >  #date {
	position:absolute;
	top:42%;
	right:-14px;
}
#home > .title >  #date > span{
	width:4px; 
	height:40px; 
	display:block; 
	background:#698E69;
	margin:0 auto;
	border-radius:5px;
	-moz-animation-name: titline;
    -webkit-animation-name: titline;
    -ms-animation-name: titline;
    -o-animation-name: titline;
    animation-name: titline;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
}
@-moz-keyframes titline{
    from{
        height: 0px;
    }
    to{
        height: 40px;
    }
} 
@-webkit-keyframes titline{
    from{
        height: 0px;
    }
    to{
        height: 40px;
    }
} 
@-ms-keyframes titline{
    from{
        height: 0px;
    }
    to{
        height: 40px;
    }
} 
@-o-keyframes titline{
    from{
        height: 0px;
    }
    to{
        height: 40px;
    }
} 
@keyframes titline{
    from{
        height: 0px;
    }
    to{
        height: 40px;
    }
} 
#home > .title >  #date > p {
	color:#698E69;
	font-family: "AppleSDGothicNeoH00";
	font-size:1.4em;

} 
/*_______________about_______________*/
#about {
	height:100vh;
}
#about > div {
	position:relative;
	height:100%;
}
#about > div > .about_img {
	width:46.875%;
	position:absolute;
	top:50%; 
	left:37%;
    transform: translate(-50%, -50%);
}
#about > div > .about_img > img {
	width:100%;
}
#about > div > .about_text {
	width: 17%;
	float: right;
	right:3%;
	top:58%;
	position:absolute;
}
#about > div > .about_text > h3 {
	font-size:2.7em;
	font-weight:100;
	font-family:"h2mjre","HY견명조";
}
#about > div > .about_text em {
	color:#698e69;
	font-size: 1.1em;
}
#about > div > .about_text p {
	font-size:1.125em;
	margin-top: 20px;
	position:relative	;
}
/*#about > div > .about_text p:after {
	content:"";
	width:340px	;
	height:200px;
	background:black;
	display:block;
	position:absolute;
}*/
/*_______________about2_______________*/
#about2 {
	position:relative;
	height:100vh;
}
#about2 > .profile > .pro_text > h3 {
	font-size:1.5em;
	letter-spacing:1.2px;
	color:#fff;
} 
#about2 > .profile > .pro_text > p {
	font-size:2em;
	padding:10px 0 20px;
}
#about2 > .profile > .pro_text > p > em {
	color:#698e69;
}
#about2 > .profile > .pro_text > p > u {
	text-decoration:none;
}
#about2 > .profile > .pro_text > p > u:after {
	border-bottom: 3px solid #698e69;
	content:"";
	display:block;
	width:64.5%;
}
#about2 > .profile {
	width:100%; 
	max-width:890px;
	margin-left:14.5%;
	padding-top: 30px;
	font-size:100%;
}
#about2 > .profile > .pro_img {
	width:100%; 
	display:flex;
}
#about2 > .profile > .pro_img > div {
	text-align:center;
	width:25.5%
}
#about2 > .profile > .pro_img > div > div img {
	width:85%;
}
#about2 > .profile > .pro_img > div > p {
	font-size:1em;
	padding-top:10px;
}
.age {
	padding-top:30px;
}
.jop {
	padding-top:20px;
}
.age , .live {
	margin-left:11.4%;
}

/*time line*/
.time_line {
	width:100%; 
	height:auto;
	background-size:100%;
	position:relative;
	top:50px;
}
.time_line img {
	width:100%;
}
.time_line > h3 {
	float:left;
	font-size:1.5em;
	position:absolute;
	letter-spacing: 1.2px;
	top:-13px;
	color:#fff;
}
.time_line > ul > li {
	position:absolute;
}
.time_line > ul > li.first {
	left:43%;
	top:0;
}
.time_line > ul > li.second {
	left:67.57%;
	top:0;
}
.time_line > ul > li.third {
	left:67.57%;
	top:49%;
}
.time_line > ul > li.four {
	left:43%;
	top:49%;
}
.time_line > ul > li.five {
	left:18%;
	top:49%;
}
.time_line > ul > li.six {
	left:18%;
	top:98%;
}
.time_line > ul > li.seven {
	left:43%;
	top:98%;
}
.time_line > ul > li > div {
	position:relative;
}
.time_line > ul > li > div > .dot {
	position:absolute;
	width:12px;
	height:12px;
	background:#fff;
	border-radius:20px;
	top:-5px;
	left:3px;
	-webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}
.time_line > ul > li > div > .dot:before {
    position: absolute;
    margin-top: -5.2px;
    margin-left: -5px;
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid #698e69;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}
.time_line_list li.active .dot{background-color:#698e69;}
.time_line_list li.active .dot:before{opacity: 1;}

.time_line > ul > li > div > .txt_wrap > h3 {
	font-size:0.9em;
	color:#698e69;
	margin-top:0px;
}
.time_line > ul > li > div > .txt_wrap > span {
	display:block;
	width:25px;
	height:2px;
	margin:0 0 5px 0;
	background:#fff;
	text-align:left;
}
.time_line > ul > li .txt_wrap {
	padding-top:20px;
}
.time_line > ul > li .txt_wrap  > .rest_txt {
	font-size:0.75em;
	font-family:"AppleSDGothicNeoM00";
}
.time_line > ul > li .txt_wrap  > .end_txt {
	font-size:0.75em;
	font-family:"AppleSDGothicNeoM00"; 
	margin-top:10px;
}
/*skill*/
.skill {
	position:absolute; 
	top:100px; 
	right:20px;
	width:19.3%;
}
.skill > h3 {
	font-size:1.5em;
	letter-spacing: 1.2px;
	color:#fff;
}
.skill > p {
	font-size:1.3em;
}
.skill > ul {
	width:100%;
	margin:0 auto;
}
.skill li {
    display: inline-block;
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
	letter-spacing:1.2px;
}
.skill li .skill_bar {
    width: 100%;
    height: 20px;
    border: 1.5px solid #fff;
    border-radius: 100px;
    margin: auto;
    position: relative;
}
.skill li .tit {
    margin-top: 30px;
    vertical-align: top;
    display: inline-block;
	margin-bottom:0;
}
.photoshop .skill_line {
    width: 98%;
}
.illustrator .skill_line {
    width: 98%;
}
.indesign .skill_line {
    width: 80%;
}
.html .skill_line {
    width: 70%;
}
.office .skill_line {
    width: 80%;
}
.skill li .line_web {
	background-color: #698e69;
    height: 20px;
    bottom: -7px;
	left:-2px;
    z-index: -1;
	position: absolute;
    border-radius: 100px;
    opacity: 0;
}
.certificate {
	position:absolute;
	right:10.4%;
	bottom:15%;
}
.certificate > h3 {
	font-size:1.5em;
	letter-spacing: 1.2px;
	color:#fff;
}
.certificate > p {
	margin:20px 0;
}
.certificate > p > em {
	color: #698e69;
}
/*_______________프로젝트_______________*/
#project {
	height: 100vh;
	position: relative;
}
.slide {
	position: relative;
	height: 100vh;
}
.slide > div {
	position: absolute;
	width: 100vw;
	height: 100vh;
}
.slide  .slideImg {
	width: 56.3%;
	height: 100%;
    left: 9.6%;
	position: absolute;
	border-radius: 500px 0;
    box-shadow: 0 20px 30px rgba(0,0,0);
}
.slide01  .slideImg {
	background: url(../images/paf.jpg)no-repeat center;
	background-size: cover;
}
.slide02  .slideImg {
	background: url(../images/maxim.jpg)no-repeat center;
	background-size: cover;
}
.slide03  .slideImg {
	background: url(../images/daelim.jpg)no-repeat center;
	background-size: cover;
}
.slide04  .slideImg {
	background: url(../images/artmoon.jpg)no-repeat center;
	background-size: cover;
}
.slide .slideText {
	width: 300px;
	height: 300px;
	position: absolute;
    right: 3%;
	bottom: 25%;
	transform:translateX(200px);
	transition:transform 0s 1.5s;
}
.slick-active .slideText {
	transform:translateX(0px);
	transition:transform 1.5s;
}
.slide .slideText > span  {
	display: inline-block;
	font-size: 1.2em;
}
.slide .slideText > h2 {
	font-size: 4em;
}
.slide02 .slideText > h2 {
	width: 75%;
	margin-bottom: 10px;
}
.slide02 .slideText > h2 > img {
	width: 100%;
}
.slide02 .slideText > h2 > .mb {
	display: none;
}
.slide04 .slideText > h2{
	font-family: "eosm";
	font-size: 4.5em;
	margin-top: 10px;
}
.slide .slideText > p {
	font-size: 1.7em;
}
.slide .slideText > button {
	width: 50%;
	height: 15%;
	border-radius: 10px;
	color: #698e69;
	border: 2px solid #698e69;
	margin-top: 10px;
	font-size: 1.1em;
	cursor: pointer;
	position: relative;
}
.slide .slideText > button::after {
	content: "";
	display: block;
	width: 60px;
	height: 49px;
	background: url(../images/arrow_btn.png)center no-repeat;
	background-size: cover;
	position: absolute;
	top: -5px;
	left: 105%;
}
.slide .slideText > button:hover::after {
	background: url(../images/arrow_btn_hover.png)center no-repeat;
	background-size: cover;
	transition: all 500ms;
}
/*_______________아덜 프로젝트_______________*/
#other_work {
	width: 100vw;
	height: 100vh;
	position: relative;
}
#other_work > .work_list {
	width: 56.3%;
	height: 100%;
	left: 9.6%;
	position: relative;
}
#other_work > .work_list > .work {
	position: absolute;
}
#other_work > .work_list > .work::after {
	position: absolute;
	display: block;
	font-size: 0.8em;
	left: 10px;
}
#other_work > .work_list > .work01  {
	width: 50%;
    left: 5%;
	top: 8%;
}
#other_work > .work_list > .work01::after  {
	content: "용이공조 상세페이지 제작";
}
#other_work > .work_list > .work02  {
	width: 70%;
    right: 10%;
    top: 15%;
}
#other_work > .work_list > .work02::after  {
	content: "라퍼지스토어 메인 화면 디자인";
}
#other_work > .work_list > .work03  {
	width: 66%;
    bottom: 14%;
    left: 10%;
}
#other_work > .work_list > .work03::after  {
	content: "Dieter Rams 포스터 제작 & 앱 제작";
}
#other_work > .work_list > .work04  {
	width: 50%;
    right: 4%;
    bottom: 5%;
}
#other_work > .work_list > .work04::after  {
	content: "아시아 디자인 플랫폼 공모전 리헌 웹사이트 디자인";
}
#other_work > .work_list > .work img {
	width: 100%;
	box-shadow: 0 20px 30px rgba(0,0,0,1);
}
#other_work > .work_text {
	width: 300px;
	height: 300px;
	position: absolute;
	right: 3%;
	bottom: 25%;
}
#other_work > .work_text > h2 {
	font-size: 4em;
	margin-bottom:50px;
	position: relative;
}
#other_work > .work_text > h2::before {
	content: "컨텐츠를 클릭해주세요.";
	font-size: 0.25em;
	display: block;
	color: #698E69;
}
/*_______________contact_______________*/

#contact {height:100vh; position:relative;}
#contact > div  > ul {
	width:100%;
	max-width:1084px;
	height:100%;
	padding-top:80px;
	margin-left: 9.5%;
	text-align:center;
	position:absolute;
}
#contact > div li {
	margin:0 auto;
}
#contact > div .send > h2 {
	font-size:4.5em;
	animation-delay: 0.8s;
}

#contact > div .click {
	background:url(../images/click.png)no-repeat 0 0;
	width:200px;
	height:200px;
	position:relative;
	background-size:cover;
	animation-name: slide1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate
}
@keyframes slide1{
    from{
        top:0;
    }
    to{
        top:-20px;
    }
}
#contact > div .click p {
	position:absolute;
	margin:45% 13%;
	font-size:2em;
	color:#fff;
}
#contact > div .info {
	width:420px;
	height:80px;
}
#contact > div .info dl {
	position:relative;
}
#contact > div .info  dt {
	float:left;
}
#contact > div .info  dd {
	text-align:end;
}
#contact > div .info > .number dd {
	margin-right:30px;
}
#contact > div .info  dd:after {
	width: 26%;
    content: '';
    height: 2.5px;
    display: block;
    background-color: #fff;
    margin: auto;
    position: absolute;
    left: 44%;
    top: 41%;
    transform: translate(-50%);
}
#contact > div .stone_img {
	margin-left:170px;
}
#contact > div .stone_img img {
	width:100%;
}
#contact  .txt {
    position: absolute;
    right: 23%;
    top: 50%;
}
#contact .resume {
	position: absolute;
    bottom: 25%;
    right: 7%;
}
#contact .resume h3 {
	font-size:1.5em;
}
#contact .resume p:nth-child(2) {
	margin:10px 0;
}
#contact .resume p:nth-child(3) a {
	padding: 12px;
    border-radius: 10px;
    border: 2px solid #fff;
	color:#fff;
	display:inline-block;
}
#contact > div .stone_img2 {
	position: absolute;
    bottom: 3%;
    right: 11%;
}
/*_______________반응형_______________*/
@media all and (max-width:1700px) { 
	/*__________고정__________*/
	.line {
		display:none;
	}
	.scroll_btn {
		display:none;
	}
}
/* PC (해상도 1400px)*/
@media all and (max-width:1400px) {
	.skill {
		display:none;
	}
	/*__________about__________*/
	#about > div > .about_img > img {
		height:50vh;
		width: auto;
	}	
	#about > div > .about_text {
		width: 30%;
	}
	.certificate {
		display:none;
	}
	.stone_img2 {
		display:none;
	}
}
/* PC (해상도 1024px)*/
@media all and (max-width:1024px) {
	/*________탑배너__________*/
	#topBanner {
		width: 50%;
		left: 25%;
	}
	/*________전체 폰트________*/
	section {
		font-size:70%;
	}

	/*__________home__________*/
	#home > .title > .tit_img {
		transform: translate(-50%, -50%);
	}
	#home > .title > #date {
		right: 24px;
	}
	#home > .title {
		height: 80vh;
	}
	/*__________about2__________*/
	#about2 > .profile {
		margin:0 auto;
		padding-top: 80px;
	}
	#about2 > .profile > .pro_text {
		text-align:center;
	} 
	#about2 > .profile > .pro_text > p > u:after {
		width: 26%;
		margin: 0 auto;
	}
	/*__________project__________*/
	.slide .slideText {
		right: 0;
		width: 250px;
	}
	/*__________other work__________*/
	#other_work > .work_list > .work01 {
		width: 60%;
		top: 8%;
	}
	#other_work > .work_list > .work02 {
		width: 80%;
		right: 0;
		top: 25%;
	}
	#other_work > .work_list > .work03 {
		width: 76%;
		bottom: 24%;
	}
	#other_work > .work_list > .work04 {
		width: 60%;
		bottom: 5%;
	}
	#other_work > .work_text {
		width: 210px;
		height: 210px;
	}
	#other_work > .work_text > h2 {
		margin-bottom: 20px;
	}
	/*__________contact__________*/

	#contact > div > ul {
		margin:0;
	}
	#contact > div .click {
		width:150px;
		height:150px;
	}
	#contact > div .click p {
		margin: 45% 15%;
	}
	#contact > div .stone_img {
    margin-left: 100px;
	}
	#contact > div .info {
		width: 330px;
	}
	#contact > div .info > .number dd {
		margin-right: 22px;
	}
	#contact > div .stone_img img {
		width: auto;
	}
	#contact .txt {
		right: 3%;
		top: 50%;
	}
	#contact .resume {
		bottom: 30%;
		right: auto;
		left: 6%;
	}
	#contact > div .info dt {
		margin-left:38px;
	}
	#contact > div .info dd:after {
		width: 21%;
		left: 50%;
		top: 41%;
	}
	.bg_color {
		background:#698e69;
	}
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px)*/
@media all and (max-width:768px){
	/*__________탑배너__________*/
	#topBanner {
		display: none;
	}
	/*__________about__________*/
	#about2 > .profile {
	font-size:70%;
	}
	#about > div > .about_img {
		top: 40%;
		left: 26%;
	}
	#about > div > .about_text {
		left: 20px;
		width:70%;
		top: 65%;
	}
	.time_line img {
		width:150%;
	}
	.time_line > ul > li.five , .time_line > ul > li.six {
		left:12%;
	}
	.time_line > ul > li.second , .time_line > ul > li.third {
		left:71%;
	}
	.time_line > h3 {
		top:-10px;
		left:30px;
		font-size:2em;
	}
	.time_line > ul > li {
		letter-spacing: normal;
	}
	.age {
		padding-top: 26px;
	}
	.live{
		margin-top:11px;
	}
	#about2 > .profile > .pro_text > h3 {
		font-size:2em;
	}
	#about2 > .profile > .pro_text > p > u:after {
		width: 30%;
		border-bottom: 2px solid #698e69;
	}
	/*__________project__________*/
	.slide  .slideImg {
		width: 100%;
	}
	.slide .slideText {
		left: 20%;
		width: 500px;
		top: 10%;
		color: tomato;
	}
	.slide02 .slideText > h2 > img {
		width: 60%;
	}
	.slide .slideText > button {
		color: tomato;
		border: 1px solid tomato;
	}
	.container {
		width:100%;
	}
	.slide .slideText > button::after {
		background: url(../images/arrow_btn_mini.png)center no-repeat;
		background-size: cover;
	}
	.slide .slideText > button:hover::after {
		background: url(../images/arrow_btn_hover_mini.png)center no-repeat;
		background-size: cover;
	}
	.slide02 .slideText > h2 > .dt {
		display: none;
	}
	.slide02 .slideText > h2 > .mb {
		display: block;
	}
	/*__________other work__________*/
	#other_work > .work_list {
		width: 100%;
		left: 0;
	}
	#other_work > .work_list > .work01 {
		width: 50%;
	}
	#other_work > .work_list > .work02 {
		width: 70%;
		right: 2%;
	}
	#other_work > .work_list > .work03 {
		width: 66%;
	}
	#other_work > .work_list > .work04 {
		width: 50%;
	}
	#other_work > .work_text {
		color: tomato;
		z-index: 300;
	}
	#other_work > .work_text > p {
		display: none;
	}
	#other_work > .work_list > .work::after {
		font-size: 0.5em;
	}
	#other_work > .work_text > h2::before {
		color: tomato;
		font-weight: 300;
	}
}
/* 모바일 가로, 모바일 세로 (해상도 480px)*/
@media all and (max-width:480px) {

	body,html {
		letter-spacing: normal;
	}
	#home > .title > #date {
		top:44%;
	}
	#home > .title > #date > span {
		width: 2px;
		height: 20px;
	}
	#home > .title > #date > p {
		font-size: 1em;
	}
	@-moz-keyframes titline{
		from{
			height: 0px;
		}
		to{
			height:	20px;
		}
	} 
	@-webkit-keyframes titline{
		from{
			height: 0px;
		}
		to{
			height: 20px;
		}
	} 
	@-ms-keyframes titline{
		from{
			height: 0px;
		}
		to{
			height: 20px;
		}
	} 
	@-o-keyframes titline{
		from{
			height: 0px;
		}
		to{
			height: 20px;
		}
	} 
	@keyframes titline{
		from{
			height: 0px;
		}
		to{
			height: 20px;
		}
	} 
	#home > .title > h2 {
		font-size: 5em;
	}
	#about > div > .about_text {
		right:0;
		top:55%;
		left: auto;
	}
	#about > div > .about_img {
		top: 26%;
		left: 26%;
	}
	#about > div > .about_img > img {
	    height: 48vh;
	}
	#about2 > .profile > .pro_text > p > u:after {
		width: 40%;
	}
	#about2 > .profile {
		padding-top: 40px;
	}
	#about2 > .profile > .pro_text > h3 {
		letter-spacing: 0px;
	}
	.time_line > h3 {
		letter-spacing: 0px;
	}
	/*----project---*/
	.slide .slideText {
		width: 250px;
		top: 15%;
	}
	.slide .slideText > h2 {
		font-size: 2em;
	}
	.slide .slideText > p {
		font-size: 1.5em;
	}
	.slide02 .slideText > h2 > img {
		width: 50%;
	}
}